@import "_variables.sass"
@import "_fonts.sass"
@import '~normalize.css/normalize'
//!----------------------------------
html
	@media screen and ( min-width: 90rem )
		@include adaptiv-font(16, 10)
	@media screen and ( max-width: 90rem )
		@include adaptiv-font(16, 10)

body
	position: relative
	overflow-x: hidden
	min-height: 100vh
	width: 100vw

.container
	margin: auto
	padding: 0 .9375rem 0 .9375rem
	@media screen and ( min-width: 90rem )
		max-width: 80rem
	@media screen and ( max-width: 90rem )
		max-width: 80rem

.btn
	display: flex
	align-items: center
	justify-content: center

.btn-primary
	background: $yellow
	border: 0
	border-radius: .3125rem
	color: #ffffff
	height: 3.75rem //60px
	@include Caption()

.btn-o
	background: rgba(0, 0, 0, 0)
	border: .0625rem solid rgba(255, 255, 255, 0.5)
	box-sizing: border-box
	border-radius: .3125rem
	color: #ffffff
	height: 3.75rem //60px
	@include Caption()

.btn-down-icon
	width: 1.25rem
	height: 1.25rem

.inpt-primary
	background: #E5E5E5
	border-radius: .3125rem //5px
	border: 0
	height: 3.75rem //60px

//!----------------------------------
.header
	background-image: url("../img/header-bg.png")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	height: 100vh

// .header:after
//    content: ''
//    position: absolute
//    background: red
//    left: 50%
//    top: 0
//    width: .125rem
//    height: 100%

.header__flex
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 100%

.navbar
	display: flex
	flex-direction: row
	align-items: flex-start
	justify-content: space-between

.navbar_logo_wrapper
	padding-top: 1.5625rem
	margin: 0 2.1875rem
	position: relative
	@include adaptiv-px(150, 100, "width")

.logo
	position: absolute
	@include adaptiv-px(150, 100, "width")

.navbar_menu
	display: flex
	flex-direction: row
	list-style-type: none
	width: calc( (100% - 9.375rem)/2 )
	padding-left: 0
	margin: 0

.navbar_item
	height: 6.25rem
	display: flex
	align-items: center
	justify-content: center
	flex-grow: 4
	border-bottom: $greyBorder

.navbar_item > a
	@include Caption()
//!----------------------------------
.header_content
	display: flex
	position: relative
	flex-direction: row
	align-items: stretch
	justify-content: space-between
	flex: 1 1 auto

.header_content-part
	display: flex
	width: 15%

.header_content_left
	align-items: center
	justify-content: flex-start

.header_content_middle
	width: 53.125rem
	border-left: $greyBorder
	border-right: $greyBorder
	position: relative

.header-date
	writing-mode: vertical-rl
	transform: rotate(180deg)
	@include Caption()

.header_content-wrapper
	padding: 0 .9375rem
	display: flex
	width: 100%
	flex-direction: column
	align-items: center
	justify-content: center

.header_content_text
	display: flex
	flex-direction: column
	text-align: center

.header_under-text
	@include Caption()

.header_under-text
	letter-spacing: 0.5em

.header_name
	color: #ffffff
	@include Heading1()

.header_btns:before
	@include PseudoYellowLine()

.header_btns_wrapper
	display: flex
	flex-wrap: wrap
	justify-content: center

.header_btns_wrapper > .btn
	margin-left: 1.25rem
	margin-right: 1.25rem
	margin-top: 2.25rem
	width: 12.5rem

.header_content_right
	display: flex
	align-items: center
	justify-content: flex-end

.header_social_wrapper
	display: flex
	flex-direction: column
	align-content: flex-end

.header_social
	display: flex
	align-items: center
	justify-content: center
	width: 3.75rem
	height: 3.75rem
	border: $greyBorder
	border-radius: 50%
	margin: .625rem

.header_social-icon
	width: 1.25rem
	height: 1.25rem

.header_btn-down_wrapper
	top: 0
	position: absolute
	display: flex
	flex-direction: column
	z-index: 1
	height: 100%
	align-items: center

.btn-down_box
	border: $greyBorder
	border-radius: 50%
	width: 3.75rem
	height: 3.75rem
	display: flex
	align-items: center
	justify-content: center

.btn-down_box__outer
	width: 2.5rem
	height: 2.5rem
	background: #ffffff
	border-radius: 50%
	display: flex
	align-items: center
	justify-content: center

.btn-down_line__up
	margin-top: 5.625rem
	background: $lightGrey
	flex-grow: 1
	width: 1px

.btn-down_line__down
	background: $lightGrey
	width: 1px
	height: 6.25rem

//!----------------------------------
.block
	min-height: 42.1875rem
	height: 1px
	display: flex
	justify-content: center
	position: relative
	@media screen and ( max-width: 768px )
		padding-bottom: 3.125rem

.block-part
	display: flex
	flex-direction: column
	flex: 1 1 50%
	align-items: center
	justify-content: center
	@media screen and ( max-width: 768px )
		flex: 1 1 100%
		margin-bottom: 1.5625rem

.block__flex
	position: relative
	height: 100%
	display: flex
	flex-direction: row
	flex-wrap: wrap

.block_heading
	@include Heading2()

.block_text_wrapper
	padding: 0 .9375rem

.block_text__primary
	@include BlockTextPrimary()

.block_text__bold
	padding-top: .9375rem
	padding-bottom: .9375rem
	@include BlockTextBold()

.block_image
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5)
	@include adaptiv-px($pcSize: 475, $mobSize: 150, $prop: "width")
	@include adaptiv-px($pcSize: 475, $mobSize: 150, $prop: "height")

.block_image_wrapper
	position: relative
	display: flex
	align-items: center

.block_image_wrapper__right:before
	@include PseudoYellowSquare('r')

.block_image_wrapper__left:before
	@include PseudoYellowSquare('l')

.block_left
	order: 2
.block_right
	order: 3

.block_lines
	position: absolute
	height: 100%
	width: 53.125rem
	border-left: $greyBorder
	border-right: $greyBorder

.block_lines:before
	content: ''
	position: absolute
	top: 0
	width: 1px
	background: $lightGrey
	height: 100%
	left: 50%

.text__white
	color: #ffffff

.block_top
	position: absolute
	height: 5.3125rem
	width: 100%
	display: flex
	flex: 0 0 100%
	justify-content: center
	align-items: center
	order: 1
	@media screen and ( max-width: 768px )
		position: relative

.block_bottom
	position: absolute
	bottom: 0
	height: 5.3125rem
	width: 100%
	display: flex
	flex: 0 0 100%
	justify-content: center
	align-items: center
	order: 4
	@media screen and ( max-width: 768px )
		position: relative
	@include TextSmGrey()

.block_name
	letter-spacing: 0.5em
	@include Caption()

//!----------------------------------
.block__about
	@media screen and ( max-width: 768px )
		padding-top: 3.125rem
		

.about_text
	position: relative

.about_text:before
	@include PseudoYellowLine()
//!----------------------------------
.block__team
	background-image: url("../img/ourteam.png")
	background-repeat: no-repeat
	background-position: center
	background-size: cover

@media screen and ( max-width: 768px )
	.block__dark .block_left
		order: 3
	.block__dark .block_right
		order: 2
	.block__dark .block_image_wrapper__left:before
		@include PseudoYellowSquare('r')

//!-----------------------------------
.book-form_wrapper
	display: flex
	justify-content: center
	align-items: center
	position: relative
	padding-top: 1.25rem

.book-form_wrapper:before
	top: 0
	@include PseudoYellowLine()
	

.book_form
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between

.book_form_item_wrapper
	display: flex
	flex: 1 1 17.3125rem
	padding: .3125rem .3125rem //5px 7.5px
	@include TextSmGrey()

.book_form_item
	display: flex
	flex: 1 1 auto
	text-indent: 1.25rem

.book_form_item
	font-size: .875rem //14px

.book_form_button
	padding: 0
	width: 100%
